<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674054725166-lm2ccpphn5u4ciccep8ofjprkcra8m1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674054725166-lm2ccpphn5u4ciccep8ofjprkcra8m1a</string>
	<key>API_KEY</key>
	<string>AIzaSyAPIRG85UmgEvet9fOyNmwrHDSTgXqhIuY</string>
	<key>GCM_SENDER_ID</key>
	<string>674054725166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.garynaz.Effortflex</string>
	<key>PROJECT_ID</key>
	<string>effortflex</string>
	<key>STORAGE_BUCKET</key>
	<string>effortflex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674054725166:ios:42207c57cb7de81a00c9bf</string>
	<key>DATABASE_URL</key>
	<string>https://effortflex.firebaseio.com</string>
</dict>
</plist>